body {
	text-align: center;
	font-size: 0.75em;
	line-height: 1.35em;
	font-family: Tahoma, Verdana, Helvetica, Arial;
	color: #666666;
	margin: 12px 30px;
	background: #f2f2f2;
	padding: 0;
}

img {
	border-style: none;
}
	
.clearer {
	clear: both;
}

#container {
	width: 684px;
	background: repeat-y  url(images/container_bg.png);
	margin: 0px auto;
	text-align: left;
	text-shadow: 0px 1px 0px #ffffff;
	line-height: 1.5em;
}

#container .top {
	background: url(images/container_top.png) no-repeat;
	width: 684px;
	height: 9px;
}

#container .bottom {
	background: url(images/container_bottom.png) no-repeat;
	width: 684px;
	height: 9px;
	position: absolute;
}

p {
    padding: 0px 0px 0px 28px;    
}

#pageHeader {
	background: url(images/header_bg.png) repeat-x;
	height: 47px;
	text-align: left;
}

#pageHeader h1 {
	color: #333333;
	margin: 0px;
	font-weight: bold;
	padding: 0px 0px 0px 28px;
	letter-spacing: 2px;
	font-size: 1.8em;
}

#pageHeader h2 {
	margin: 0px;
	font-weight: normal;
	padding: 0px 0px 0px 28px;
	letter-spacing: 1px;
	font-size: 1em;
}

#contentContainer {
	text-align: left;
	width: 684px;
	padding-top: 10px;
	float: left;

}

#contentContainer #content {
	padding-right: 10px;
	padding-left: 28px;
	line-height: 2em;
}

#footer {
	text-align: left;
	margin-top: 15px;
	border-top: 1px solid #adadad;
	margin-right: 4px;
	margin-left: 4px;
}

#footer p {
	margin: 0;
	padding: 10px 0 5px 24px;
	font-size: 0.9em;
}

#navcontainer {
	height: 17px;
	width: 676px;
	padding: 0;
	margin: 0px 4px 0px 4px;
	background: repeat-x url(images/navcontainer_bg.png);
	position: relative;
}

h1 {
	font-size: 2em;
	margin: 0 0 3px;
}

h2 {
	font-size: 1.4em;
	margin: 0 0 3px;
}

/* Table Styles */
table {
	font-size: 1em;
	padding: 0px;
	margin: 0px;
}

td {
	padding: 2px;
	line-height: 1.4em;
}


small {
	font-size: 1em;
}

a:link, a:visited {
	color: #cc0000;
}

a:hover, a:active {
	color: #ff0000;
}

#pageHeader h2 {
	color: #cc0000;
}
